@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: white;
}

.container{
  @apply w-full max-w-[1240px] max-xl:max-w-full max-xl:px-10 max-sm:px-0 max-sm:w-[90%] m-auto
}

